JWT_SECRET=supersecretkey123
ACCESS_SECRET=supersecretkey123
REFRESH_SECRET=supersecretkey123
PORT=3000



APP_DOMAIN=http://localhost:3000
MONGODB_USER=maksym
MONGODB_PASSWORD=Mjyis34j1W3TUe2s
MONGODB_URL=cluster0.abc123.mongodb.net
MONGODB_DB=contacts_db


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=maksym.dobriden@gmail.com
SMTP_PASSWORD=gytpNIxw9c4mH5JV
SMTP_FROM=maksym.dobriden@gmail.com




CLOUDINARY_NAME=dpd5jysqq
CLOUDINARY_KEY=244661884776354
CLOUDINARY_SECRET=sxJ6jpQUGBCcg7pdrcZJOPHt_v8

